-# Copyright (c) 2011-2012, Phoenix engine.

%p
  Hello 
  = @user.name
  
%p
  Someone has requested a link to change your password, and you can do this through the link below.

%p
  /= @edit_password_reset_url
  = link_to 'Change my password', edit_password_url(@user, :reset_password_token => @user.reset_password_token)

%p
  If you didn't request this, please ignore this email.
  
%p
  Your password won't change until you access the link above and create a new one.