#--------------------------------------------------------------
# Ignore these files when commiting to a git repository
#
#--------------------------------------------------------------

# bundler state
/.bundle
/vendor/bundle/

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
tmp/*

# ignore build files
*.gem
gempkg/
pkg/

# various artifacts
**.war
*.rbc
*.sassc
.redcar/
.sass-cache
/config/config.yml
/config/database.yml
/coverage.data
/coverage/
/db/*.javadb/
/db/*.sqlite3-journal
/public/cache
/public/stylesheets/compiled
/public/system
/spec/tmp/*
/cache
/capybara*
/capybara-*.html
/gems
/rerun.txt

/spec/requests
/spec/routing
/spec/views
/specifications

# Dummy for Rails RSpec
*/spec/dummy/

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# Netbeans project directory
/nbproject/
/.idea/

# Aptana project
.project

# Textmate project files
/*.tmproj

# Sublime text project
/*.sublime-project
/*.sublime-workspace

# vim artifacts
**.swp
