

/* Common Styles
 * ----------------------------------------------------- */
.grey {
	color: #666;
}
.cf:before, .cf:after {
  display: table;
  content: "";
  zoom: 1;
}
.cf:after {
  clear: both;
}

/* Layout
 * ----------------------------------------------------- */
#wrapper {
}
header {
	background: #444;
	padding: 20px;
	color: #fff;
	font-size: 2em;
	font-weight: 700;
	font-family: Courier;
}


body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#main {
	width: 980px;
	margin: 0 auto;
	padding: 50px 0px;
	height: 500px;
}
footer {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}
#footer {
	width: 980px; margin: 0 auto;
}
#ft-links {
	list-style: none;
	margin: 0;
	padding: 0;
}
#ft-links li {
	float: left;
	margin-right: 16px;
}

/* Form
 * ----------------------------------------------------- */
.form-wrapper {
}
.form-wrapper .field {
	margin-bottom: 10px;
}
.input-wrapper {
	position: relative;
}
.input-wrapper .input-placeholder {
	position: absolute;
	color: #999;
	padding: 5px 6px;
	top: 0;
	left: 0;
	text-align: left;
}

/* Pages: Register
 * ----------------------------------------------------- */
#register {
	width: 300px;
	background: #f9f9f9 url(/assets/noise.png);
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 8px #ccc;
}

/* Pages: Login
 * ----------------------------------------------------- */
#login {
	width: 300px;
	background: #f9f9f9 url(/assets/noise.png);
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 8px #ccc;
}

/* Pages: Find Password
 * ----------------------------------------------------- */
#find-password {
	width: 300px;
	background: #f9f9f9 url(/assets/noise.png);
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 8px #ccc;
}

/* Page: Change password
 * ----------------------------------------------------- */
#change-password {
	width: 300px;
	background: #f9f9f9 url(/assets/noise.png);
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 8px #ccc;
}

/* Page: Profile
 * ----------------------------------------------------- */
#profile {
	width: 400px;
	background: #f9f9f9 url(/assets/noise.png);
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 8px #ccc;
}
#profile-content {
	line-height: 1.8;
	list-style: none;
	margin: 0;
	padding: 0;
}
#profile-content .photo {
	float: left; border: 1px solid #ddd; margin: 0 10px 10px 0;
}
#profile-content .name{
	font-size: 1.2em; font-weight: 700;
}
#profile-content .bio{
	color: #888;
}

/* Page: Edit Profile
 * ----------------------------------------------------- */
#edit-profile {
	width: 400px;
	background: #f9f9f9 url(/assets/noise.png);
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 8px #ccc;
}

/* Page: Following
 * ----------------------------------------------------- */
#following {
	width: 400px;
	background: #f9f9f9 url(/assets/noise.png);
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 8px #ccc;
}

.following-item {
	border-bottom: 1px solid #ddd;
	padding: 6px 0;
	clear: left;
	margin-bottom: 10px;
}

.following-item .photo{
	float: left;
	margin: 0 10px 10px 0;
}

.following-item .name{
	font-size: 1.2em;
	font-weight: 700;
}

.following-item .bio{
	color: #666;
}

.following-item .action{
	color: #999;
}

/* Page: Followers
 * ----------------------------------------------------- */
#followers {
	width: 400px;
	background: #f9f9f9 url(/assets/noise.png);
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 8px #ccc;
}

.followers-item {
	border-bottom: 1px solid #ddd;
	padding: 6px 0;
	clear: left;
	margin-bottom: 10px;
}

.followers-item .photo{
	float: left;
	margin: 0 10px 10px 0;
}

.followers-item .name{
	font-size: 1.2em;
	font-weight: 700;
}

.followers-item .bio{
	color: #666;
}

.followers-item .action{
	color: #999;
}

/* Page: Followers
 * ----------------------------------------------------- */
#followers {
	width: 400px;
	background: #f9f9f9 url(/assets/noise.png);
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0px 0px 8px #ccc;
}

