<!DOCTYPE html>
<html>
<head>
  <title>PhoenixAuth</title>
  <%= stylesheet_link_tag    "phoenix_auth/application" %>
  <%= javascript_include_tag "phoenix_auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
