-# Copyright (c) 2011-2012, Phoenix engine.

%h2 User Info
  
%br
- if @user
  = @user.name
  %br
  = @user.email

%br
%br
= link_to 'Setting', edit_user_path
%br
= link_to 'Eidt my profile', edit_profile_path

