.hero-unit
  %h1 Hello, phoenix!
  %p Phoenix is a engine base on Rails 3. build with multiple rails engines, to show how to use the rails 3 new features, and crate a real scable site. Meanwhile you can learn much web skills in this project, like backbone, requirejs, mongodb and so on...
  %p
    %a.btn.btn-primary.btn-large Learn more »

.row
  .span4
    %h2 Architecture
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2 Scable Web
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details »
  .span4
    %h2 More than Rails
    %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    %p
      %a.btn{:href => "#"} View details »