.footer
  %p.pull-right
    = link_to "signup", signup_path
    %a{:href => "https://github.com/lanvige/phoenix"} github
    %a{:href => "https://github.com/lanvige/phoenix"} what's new?
  %p
    Powered by Phoenix Engine