<div id="footer">
	<ul id="ft-links">
		<li><%= link_to "register", signup_path %></li>
		<li><%= link_to "login", login_path %></li>
		<li><%= link_to "logout", logout_path %></li>
		<li><%= link_to "find password", new_user_password_path %></li>
		<li><a href="#">profile</a></li>
		<li><a href="#">change password</a></li>
		<li><a href="#">following</a></li>
		<li><a href="#">followers</a></li>
	</ul>
</div>