.footer
  #ul{ :id => "ft-links" }
    %p{ :class => "pull-right" }
    %p
      The Phoenix Engine project is designed to built a full featured application with Rails engine. Now you can 
      = link_to "register", signup_path
      Or 
      = link_to "login", login_path 
      Or 
      = link_to "logout", logout_path
    %p
      We making good architecture.