<!DOCTYPE html>
<html>
<head>
  <title>PhoenixCore</title>
  <%= stylesheet_link_tag    "phoenix_core/application" %>
  <%= javascript_include_tag "phoenix_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
